body{
    background: url(https://media.istockphoto.com/photos/blue-gradient-soft-background-picture-id919850588?b=1&k=20&m=919850588&s=170667a&w=0&h=kMbhM6feuqO7BHH12v3rofKv-4jgQSyV-x5_HAkRRYg=) no-repeat center fixed;
    background-size: cover;
}
/*.bg1
{
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}*/
.bg2
{
  position:absolute;
  top: 200px;
  left: 500px;
  z-index: 2;
  height: 50%;
  width: 25%;
  object-fit: cover;
  object-position: 20% 10%;
  border: 3px solid black;
  border-radius: 300px;
}

#projects{
    top: 600px;
}